form {
    box-shadow: 2px 2px grey;
    border-radius: 25px;
    
    padding: 40px;
    min-width: 70%;
    background-color: bisque; 

    h3{
        display: block;
    }

}


[type=text]{
    padding: 10px 20px 8px 10px;
    width: 90%;
    line-height: 16px;
    margin: 10px 0;
    border-radius: 10px;
    border:1px solid black;
    box-shadow: 2px 2px grey;
    display: inline-block;
}



[type=radio] {
    display:inline-block;
    width: fit-content;
    margin: 5px 10px 5px 10px;
    
}

[type=submit] {
    width:160px;
    display: block;
    background-color: white;
    color: rgb(57, 51, 51);
    border-radius: 10px;
    margin: 5px 40%;
    padding: 5px;

    &:hover{
        box-shadow: 3px 3px rgba(55, 54, 54, 0.627);
    }
}

#text, #polarity, #subjectivity {
    background-color: white;
    border-radius: 10px;
    border:1px solid black;
    box-shadow: 2px 2px grey;
    padding: 6px 20px 8px 10px;
    
    &#text {
        padding: 20px 10% 0px 10%;
        min-width: 100%;
    }
}


#results_div {
    position: inherit;
    padding:30px;
    box-shadow: 2px 2px grey;
    border-radius: 25px;
    width:800px;
    height:360px;
    margin-bottom: 10px;
    background-color: bisque;
}

#text {
    font-style: italic;
    border:1px black solid;
    height:60px;
    width: 700px;
    padding: 10px 10px 10px 10px;
}


#subjectivity, #polarity {
    border:1px black solid;
    height:30px;
    width:160px;
    margin: 15px 0px 15px 0px;
    padding: 5px 5px 3px 5px;
}

.results {
    margin:15px 0px 15px 0px;
    display: block;
    
}